/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}
/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0;
}
/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}
/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}
/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0;
}
/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */
}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
YUI 3.4.1 (build 4118)
Copyright 2011 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
/**
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE6/7 quirks mode.
 */
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  /* for IE */
  *font: x-small;
  /* for IE in quirks mode */
}
/**
 * Nudge down to get to 13px equivalent for these form elements
 */
select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}
/**
 * To help tables remember to inherit
 */
table {
  font-size: inherit;
  font: 100%;
}
/**
 * Bump up IE to get to 13px equivalent for these fixed-width elements
 */
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
body {
  background-color: #aaa;
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}
@font-face {
  font-family: 'LeagueGothic';
  src: url('../fonts/league_gothic-webfont.eot');
  src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/league_gothic-webfont.woff') format('woff'), url('../fonts/league_gothic-webfont.ttf') format('truetype'), url('../fonts/league_gothic-webfont.svg#LeagueGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}
#content {
  width: 900px;
  margin: 5px auto;
}
#content .container {
  padding: 0.25in 1in;
  background-color: #f9f9f9;
  -webkit-box-shadow: 1px 1px 25px 2px #676767;
  -moz-box-shadow: 1px 1px 25px 2px #676767;
  box-shadow: 1px 1px 25px 2px #676767;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 1px solid #595959;
  display: inline-block;
  display: block;
}
#content .container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content .container h2 {
  font-size: 93%;
  text-align: center;
  line-height: 150%;
  font-weight: normal;
  margin: 0.25em 0px;
}
#content .container h2 a {
  color: #333333;
}
#content .container h2 a:active {
  color: #333333;
}
#content .container h2 a:visited {
  color: #333333;
}
#content .container h2 a:hover {
  text-decoration: none;
  color: #333333;
}
#content .container h2 .line {
  display: inline;
}
#content .container h2 .line-block {
  display: block;
}
#content .container h1 {
  font-family: 'LeagueGothic', 'Impact', 'Helvetica', 'Arial';
  color: #476685;
  text-transform: uppercase;
  text-align: center;
  font-size: 70px;
  margin: 0px;
  letter-spacing: 1px;
  font-weight: normal;
}
#content .container h3 {
  font-family: 'LeagueGothic', 'Impact', 'Helvetica', 'Arial';
  color: #476685;
  font-size: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
  margin: 0.5em 0px;
  font-weight: normal;
}
#content .container a {
  color: #476685;
}
#content .container a:active {
  color: #476685;
}
#content .container a:visited {
  color: #476685;
}
#content .container a:hover {
  text-decoration: none;
  color: #476685;
}
#content .container .education,
#content .container .experience {
  clear: both;
  margin: 1em auto 1.5em;
  width: 96%;
}
#content .container .education div,
#content .container .experience div {
  overflow: hidden;
}
#content .container .education .dates {
  float: left;
  width: 30%;
  font-weight: bold;
}
#content .container .education .school {
  float: left;
  width: 50%;
  font-weight: bold;
}
#content .container .education .city {
  float: left;
  width: 20%;
  clear: right;
  font-weight: bold;
}
#content .container .education .degree {
  clear: both;
  font-style: italic;
}
#content .container .education .extra {
  margin-top: 5px;
}
#content .container .experience .dates {
  float: left;
  width: 30%;
  font-weight: bold;
}
#content .container .experience .company {
  float: left;
  width: 50%;
  font-weight: bold;
}
#content .container .experience .city {
  float: left;
  width: 20%;
  clear: right;
  font-weight: bold;
}
#content .container .experience .title {
  clear: both;
  font-style: italic;
}
#content .container .experience .extra {
  margin-top: 5px;
}
#content .container .normal_list {
  margin: 0px auto;
  width: 96%;
}
#content .container .normal_list ul li {
  margin: 0.25em 0px;
}
#content .container span.dot {
  font-family: Arial, sans-serif;
  font-size: inherit;
  font-weight: bold;
}
#footer {
  margin: 1.5em 0px 2em;
  font-size: 85%;
  text-align: center;
  color: #444;
}
#footer .line {
  white-space: nowrap;
}
#footer a {
  color: #dedede;
}
#footer a:active {
  color: #dedede;
}
#footer a:visited {
  color: #dedede;
}
#footer a:hover {
  text-decoration: none;
  color: #dedede;
}
#print_footer {
  display: none;
}
@media screen and (max-width: 910px) {
  body {
    background: #333;
  }
  #content {
    width: 100%;
    margin: 0px;
  }
  #content .container {
    box-shadow: none !important;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px;
    padding: 20px 30px;
  }
  #footer {
    font-size: 11px;
    background: #333;
    color: #f9f9f9;
    box-sizing: border-box;
    padding: 0px 15px;
  }
}
@media screen and (max-width: 600px) {
  #content .container {
    padding: 5px 10px;
  }
  #content .container h1 {
    font-size: 54px;
    margin: 15px 0px;
    text-align: center;
  }
  #content .container h2 {
    font-size: 11px;
    text-align: center;
  }
  #content .container h2 .dot {
    display: none;
  }
  #content .container h2 .line {
    display: block;
  }
  #content .container h2 .line-block .dot {
    display: inline;
  }
  #content .container h3 {
    font-size: 24px;
  }
  #content .container .education .dates,
  #content .container .education .school,
  #content .container .education .city {
    float: none;
    width: auto;
  }
  #content .container .experience .dates,
  #content .container .experience .company,
  #content .container .experience .city {
    float: none;
    width: auto;
  }
  #content .container ul {
    padding-left: 15px;
  }
}
