@import "_normalize.less";
@import "_yui_fonts.less";
@import "_include.less";

@normalColor: #333;
@headerColor: desaturate(#369, 20%);
@normalFont: Helvetica, Arial, sans-serif;
@headerFont: 'LeagueGothic', 'Impact', 'Helvetica', 'Arial';

body {
	background-color: #aaa;

	font-family: @normalFont;
	color: @normalColor;
}

.font-face('LeagueGothic', 'league_gothic', '../fonts');

#content {

	width: 900px;
	margin: 5px auto;

	.container {
		padding: 0.25in 1in;
		background-color: #f9f9f9;
		.box-shadow(1px, 1px, 25px, 2px, #676767);
		.border-radius(3px);
		border: 1px solid #595959;
		.clearfix;

		h2 {
			font-size: 93%;
			text-align: center;
			line-height: 150%;
			font-weight: normal;
			margin: 0.25em 0px;

			a {
				@color: @normalColor;
				color: @color;
				&:active { color: @color; }
				&:visited { color: @color; }
				&:hover { text-decoration: none; color: @color; }
			}
		}	

		h1 {
			font-family: @headerFont;
			color: @headerColor;
			text-transform: uppercase;
			text-align: center;
			font-size: 70px;
			margin: 0px;
			letter-spacing: 1px;
			font-weight: normal;
		}

		h3 {
			font-family: @headerFont;
			color: @headerColor;
			font-size: 30px;
			text-transform: uppercase;
			border-bottom: 1px solid #999;
			margin: 0.5em 0px;
			font-weight: normal;
		}

		a {
			@color: @headerColor;
			color: @color;
			&:active { color: @color; }
			&:visited { color: @color; }
			&:hover { text-decoration: none; color: @color; }
		}

		.block {
			clear: both;
			margin: 1em auto 1.5em;
			width: 96%;

			div {
				overflow: hidden;
			}
		}

		.education {
			.dates {
				float: left;
				width: 30%;
				font-weight: bold;
			}

			.school {
				float: left;
				width: 50%;
				font-weight: bold;
			}

			.city {
				float: left;
				width: 20%;
				clear: right;
				font-weight: bold;
			}

			.degree {
				clear: both;
				font-style: italic;
			}

			.extra {
				margin-top: 5px;
			}
		}

		.experience {
			.dates {
				float: left;
				width: 30%;
				font-weight: bold;
			}

			.company {
				float: left;
				width: 50%;
				font-weight: bold;
			}

			.city {
				float: left;
				width: 20%;
				clear: right;
				font-weight: bold;
			}

			.title {
				clear: both;
				font-style: italic;
			}

			.extra {
				margin-top: 5px;
			}
		}

		.normal_list {
			margin: 0px auto;
			width: 96%;

			ul {
				li {
					margin: 0.25em 0px;
				}	
			}			
		}

		span.dot {
			font-family: Arial, sans-serif;
			font-size: inherit;
			font-weight: bold;
		}
	}
}

#footer {
	margin: 1.5em 0px 2em;
	font-size: 85%;
	text-align: center;
	color: #444;

	a {
		@color: #dedede;
		color: @color;
		&:active { color: @color; }
		&:visited { color: @color; }
		&:hover { text-decoration: none; color: @color; }
	}
}