/* YUI Reset CSS 3 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/* YUI Fonts */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

body {
	background-color: #999;
	margin: 0px;
	padding: 20px 0px;
}

#container {
	width: 700px;
	padding: 20px 125px 5em;
	border: 1px solid #777;
	margin: 0px auto;
	background-color: #fdfdfd;
	overflow: hidden;
	position: relative;
	z-index: 10;
}

li {
	margin-left: 40px;
	list-style-type: disc;
}

a, a:active, a:visited {
	color: #777777;
	text-decoration: underline;
}

a:hover {
	color: #777777;
	text-decoration: none;
}

h1 { 
	font-family: 'LeagueGothicRegular', Georgia, Arial !important; 
	font-size: 600%; 
	text-align: center;
	color: #336699;
	text-transform: uppercase;
}

h2 { 
	font-family: Georgia, Arial !important; 
	font-size: 108%;
	text-align: center;
	color: #777777;
	font-variant: small-caps;
}

h2 a {
	color: #777777;
	text-decoration: none;
}

h2 b {
	font-weight: normal;
}

h3 {
	font-family: 'LeagueGothicRegular', Georgia, Arial !important;
	font-size: 153.9%;
	border-bottom: 1px solid #777777;
	margin: 2em 0px 1em;
	color: #336699;
	text-transform: uppercase;
}

p {
	font-family: Arial, sans-serif;
	margin: 0.5em auto 1em;
	text-align: left;
}

p#footer {
	text-align: center;
	font-size: 85%;
}

.objective {
	width: 96%;
}

.block {
	clear: both;
	margin: 1em auto;
	width: 96%;
}

.block div {
	overflow: hidden;
}

.education .dates {
	float: left;
	width: 30%;
	font-weight: bold;
}

.education .school {
	float: left;
	width: 50%;
	font-weight: bold;
}

.education .city {
	float: left;
	width: 20%;
	clear: right;
	font-weight: bold;
}

.education .degree {
	clear: both;
	font-style: italic;
}

.education .extra {
	margin-top: 5px;
}

.experience .dates {
	float: left;
	width: 30%;
	font-weight: bold;
}

.experience .company {
	float: left;
	width: 50%;
	font-weight: bold;
}

.experience .city {
	float: left;
	width: 20%;
	clear: right;
	font-weight: bold;
}

.experience .title {
	clear: both;
	font-style: italic;
}

.experience .extra {
	margin-top: 5px;
}

.normal_list li {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

span.dot {
	font-family: Arial, sans-serif;
	font-size: inherit;
	font-weight: bold;
}

p#footer a { 
	color: white; 
	text-decoration: none;
	border-bottom: 1px dashed #aaa;
}

@media print {

	body {
		margin: 0px;
		padding: 0px;
		background-color: white;
	}

	#container {
		border-width: 0px;
		width: 7.5in;
		padding: 0px;
		overflow: visible;
	}
	
	a {
		color: #000 !important;
		text-decoration: none;
	}
	
	h1, h2, h3, h2 a {
		font-family: 'Arial Narrow', Arial, sans-serif !important;
		color: #333333;
		font-weight: normal;
		font-style: normal;
		font-variant: small-caps;
	}
	
	h1 { 
		font-size: 300%;
		font-weight: bold;
	}
	
	h2 b {
		font-weight: bold;
	}
	
	h3 { 
		font-weight: bold;
	}

	.education_block, .experience, ul {
		page-break-inside: avoid;
	}
	
	p#footer {
		display: none;
	}
}

@media screen {
	
	#container {
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-box-shadow: 3px 3px 10px #777;
		-webkit-box-shadow: 3px 3px 10px #777;
		border-radius: 1px;
	}
}