@font-face {
	font-family: 'IMFELLDWPicaSCRegular';
	src: url('im_fell_dw_pica_sc-webfont.eot');
	src: local('IMFELLDWPicaSCRegular'), url('im_fell_dw_pica_sc-webfont.woff') format('woff'), url('im_fell_dw_pica_sc-webfont.ttf') format('truetype'), url('im_fell_dw_pica_sc-webfont.svg#webfontJrduSLaX') format('svg');
}

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('league_gothic-webfont.eot');
	src: local('?'), url('league_gothic-webfont.woff') format('woff'), url('league_gothic-webfont.ttf') format('truetype'), url('league_gothic-webfont.svg#webfontFgGbdHGT') format('svg');
	font-weight: normal;
	font-style: normal;
}