@font-face {
	font-family: 'IMFELLDWPicaSCRegular';
	src: url('im_fell_dw_pica_sc-webfont.eot');
	src: local('IMFELLDWPicaSCRegular'), url('im_fell_dw_pica_sc-webfont.woff') format('woff'), url('im_fell_dw_pica_sc-webfont.ttf') format('truetype'), url('im_fell_dw_pica_sc-webfont.svg#webfontJrduSLaX') format('svg');
}